In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('top-500-movies.csv')

In [4]:
df.head()

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             500 non-null    int64
 1   release_date     499 non-null    object
 2   title            500 non-null    object
 3   url              500 non-null    object
 4   production_cost  500 non-null    int64
 5   domestic_gross   500 non-null    int64
 6   worldwide_gross  500 non-null    int64
 7   opening_weekend  479 non-null    float64
 8   mpaa             492 non-null    object
 9   genre            495 non-null    object
 10  theaters         479 non-null    float64
 11  runtime          487 non-null    float64
 12  year             499 non-null    float64
dtypes: float64(4), int64(4), object(5)
memory usage: 50.9+ KB

In [6]:
df2 = df.copy()

In [7]:
df2

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,2013-02-06,A Good Day to Die Hard,/movie/Die-Hard-5#tab=summary,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,497,2004-04-09,The Alamo,/movie/Alamo-The-(2004)#tab=summary,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,498,1995-12-22,Cutthroat Island,/movie/Cutthroat-Island#tab=summary,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,NaN,1995.0
498,499,2013-12-19,The Secret Life of Walter Mitty,/movie/Secret-Life-of-Walter-Mitty-The-(2012)#...,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,500,2023-03-09,65,/movie/65-(2022)#tab=summary,91000000,0,0,NaN,NaN,Thriller/Suspense,NaN,NaN,2023.0

In [8]:
df2.head()

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0

In [9]:
df2.drop(['rank'], axis =1)

,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,/movie/Die-Hard-5#tab=summary,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,2004-04-09,The Alamo,/movie/Alamo-The-(2004)#tab=summary,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,1995-12-22,Cutthroat Island,/movie/Cutthroat-Island#tab=summary,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,NaN,1995.0
498,2013-12-19,The Secret Life of Walter Mitty,/movie/Secret-Life-of-Walter-Mitty-The-(2012)#...,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,2023-03-09,65,/movie/65-(2022)#tab=summary,91000000,0,0,NaN,NaN,Thriller/Suspense,NaN,NaN,2023.0

In [10]:
df2.drop(['url'],axis=1)

,rank,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,2013-02-06,A Good Day to Die Hard,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,497,2004-04-09,The Alamo,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,498,1995-12-22,Cutthroat Island,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,NaN,1995.0
498,499,2013-12-19,The Secret Life of Walter Mitty,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,500,2023-03-09,65,91000000,0,0,NaN,NaN,Thriller/Suspense,NaN,NaN,2023.0

In [12]:
df2 = df2.drop(['url'],axis=1)

In [13]:
df2 = df2.drop(['rank'],axis=1)

In [14]:
df2

,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,2004-04-09,The Alamo,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,1995-12-22,Cutthroat Island,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,NaN,1995.0
498,2013-12-19,The Secret Life of Walter Mitty,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,2023-03-09,65,91000000,0,0,NaN,NaN,Thriller/Suspense,NaN,NaN,2023.0

In [17]:
df2.isnull() == True

,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,True,False
498,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,True,True,False,True,True,False

In [18]:
df2 = df2.fillna(0)

In [19]:
df2.isnull()

,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False

In [20]:
df2

,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,2004-04-09,The Alamo,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,1995-12-22,Cutthroat Island,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,0.0,1995.0
498,2013-12-19,The Secret Life of Walter Mitty,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,2023-03-09,65,91000000,0,0,0.0,0,Thriller/Suspense,0.0,0.0,2023.0

In [21]:
df2['Profit'] = df2['domestic_gross'] - df2['production_cost']
df2

,release_date,title,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year,Profit
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0,458373000
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0,-137928198
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0,94005868
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0,630662225
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0,378815482
...,...,...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0,-24650802
496,2004-04-09,The Alamo,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0,-69593638
497,1995-12-22,Cutthroat Island,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,0.0,1995.0,-81982678
498,2013-12-19,The Secret Life of Walter Mitty,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0,-32763162
499,2023-03-09,65,91000000,0,0,0.0,0,Thriller/Suspense,0.0,0.0,2023.0,-91000000

In [22]:
df2 = df2.drop(['production_cost'], axis=1)

In [23]:
df2 = df2.drop(['domestic_gross'],axis =1)

In [24]:
df2

,release_date,title,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year,Profit
0,2019-04-23,Avengers: Endgame,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0,458373000
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0,-137928198
2,2015-04-22,Avengers: Age of Ultron,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0,94005868
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0,630662225
4,2018-04-25,Avengers: Infinity War,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0,378815482
...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,304249198,24834845.0,R,Action,3555.0,98.0,2013.0,-24650802
496,2004-04-09,The Alamo,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0,-69593638
497,1995-12-22,Cutthroat Island,18517322,2371415.0,PG-13,Adventure,1619.0,0.0,1995.0,-81982678
498,2013-12-19,The Secret Life of Walter Mitty,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0,-32763162
499,2023-03-09,65,0,0.0,0,Thriller/Suspense,0.0,0.0,2023.0,-91000000

In [25]:
df2['Profit'] = df2['Profit']+df2['worldwide_gross']
df2

,release_date,title,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year,Profit
0,2019-04-23,Avengers: Endgame,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0,3256173564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0,907785604
2,2015-04-22,Avengers: Age of Ultron,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0,1489322847
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0,2695278042
4,2018-04-25,Avengers: Infinity War,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0,2427175236
...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,304249198,24834845.0,R,Action,3555.0,98.0,2013.0,279598396
496,2004-04-09,The Alamo,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0,-45682276
497,1995-12-22,Cutthroat Island,18517322,2371415.0,PG-13,Adventure,1619.0,0.0,1995.0,-63465356
498,2013-12-19,The Secret Life of Walter Mitty,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0,155098021
499,2023-03-09,65,0,0.0,0,Thriller/Suspense,0.0,0.0,2023.0,-91000000

In [26]:
df2 = df2.drop(['worldwide_gross'],axis =1)

In [27]:
df2

,release_date,title,opening_weekend,mpaa,genre,theaters,runtime,year,Profit
0,2019-04-23,Avengers: Endgame,357115007.0,PG-13,Action,4662.0,181.0,2019.0,3256173564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0,907785604
2,2015-04-22,Avengers: Age of Ultron,191271109.0,PG-13,Action,4276.0,141.0,2015.0,1489322847
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0,2695278042
4,2018-04-25,Avengers: Infinity War,257698183.0,PG-13,Action,4474.0,156.0,2018.0,2427175236
...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,24834845.0,R,Action,3555.0,98.0,2013.0,279598396
496,2004-04-09,The Alamo,9124701.0,PG-13,Western,2609.0,137.0,2004.0,-45682276
497,1995-12-22,Cutthroat Island,2371415.0,PG-13,Adventure,1619.0,0.0,1995.0,-63465356
498,2013-12-19,The Secret Life of Walter Mitty,12765508.0,PG,Adventure,2922.0,114.0,2013.0,155098021
499,2023-03-09,65,0.0,0,Thriller/Suspense,0.0,0.0,2023.0,-91000000

In [30]:
np.unique(df2.runtime)

array([  0.,  76.,  77.,  78.,  82.,  85.,  86.,  87.,  88.,  89.,  90.,
        91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101.,
       102., 103., 104., 105., 106., 107., 108., 109., 110., 111., 112.,
       113., 114., 115., 116., 117., 118., 119., 120., 121., 122., 123.,
       124., 125., 126., 127., 128., 129., 130., 131., 132., 133., 134.,
       135., 136., 137., 138., 139., 140., 141., 142., 143., 144., 145.,
       146., 147., 148., 149., 150., 151., 152., 153., 154., 155., 156.,
       157., 158., 161., 162., 163., 164., 165., 167., 169., 170., 172.,
       175., 179., 181., 182., 189., 194., 201., 210.])

In [33]:
df2.loc[(df2['runtime'] == 0),'runtime']= df2['runtime'].mean()

In [34]:
np.unique(df['runtime'])

array([ 76.,  77.,  78.,  82.,  85.,  86.,  87.,  88.,  89.,  90.,  91.,
        92.,  93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101., 102.,
       103., 104., 105., 106., 107., 108., 109., 110., 111., 112., 113.,
       114., 115., 116., 117., 118., 119., 120., 121., 122., 123., 124.,
       125., 126., 127., 128., 129., 130., 131., 132., 133., 134., 135.,
       136., 137., 138., 139., 140., 141., 142., 143., 144., 145., 146.,
       147., 148., 149., 150., 151., 152., 153., 154., 155., 156., 157.,
       158., 161., 162., 163., 164., 165., 167., 169., 170., 172., 175.,
       179., 181., 182., 189., 194., 201., 210.,  nan])

In [35]:
np.isnan(df2['runtime'])

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: runtime, Length: 500, dtype: bool

In [50]:
df2['runtime'].isnull().sum()

0

In [51]:
np.unique(df2.runtime)

array([ 76.   ,  77.   ,  78.   ,  82.   ,  85.   ,  86.   ,  87.   ,
        88.   ,  89.   ,  90.   ,  91.   ,  92.   ,  93.   ,  94.   ,
        95.   ,  96.   ,  97.   ,  98.   ,  99.   , 100.   , 101.   ,
       102.   , 103.   , 104.   , 105.   , 106.   , 107.   , 108.   ,
       109.   , 110.   , 111.   , 112.   , 113.   , 114.   , 115.   ,
       116.   , 117.   , 118.   , 118.716, 119.   , 120.   , 121.   ,
       122.   , 123.   , 124.   , 125.   , 126.   , 127.   , 128.   ,
       129.   , 130.   , 131.   , 132.   , 133.   , 134.   , 135.   ,
       136.   , 137.   , 138.   , 139.   , 140.   , 141.   , 142.   ,
       143.   , 144.   , 145.   , 146.   , 147.   , 148.   , 149.   ,
       150.   , 151.   , 152.   , 153.   , 154.   , 155.   , 156.   ,
       157.   , 158.   , 161.   , 162.   , 163.   , 164.   , 165.   ,
       167.   , 169.   , 170.   , 172.   , 175.   , 179.   , 181.   ,
       182.   , 189.   , 194.   , 201.   , 210.   ])

In [54]:
df2['runtime'] = df2['runtime'].astype(int)

In [55]:
np.unique(df2.runtime)

array([ 76,  77,  78,  82,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
       107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158,
       161, 162, 163, 164, 165, 167, 169, 170, 172, 175, 179, 181, 182,
       189, 194, 201, 210])

In [56]:
df2['release_date'] = pd.to_datetime(df2['release_date'])

In [57]:
df2['Year']= df2['release_date'].dt.year

In [58]:
df2

,release_date,title,opening_weekend,mpaa,genre,theaters,runtime,year,Profit,Year
0,2019-04-23,Avengers: Endgame,357115007.0,PG-13,Action,4662.0,181,2019.0,3256173564,2019
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,90151958.0,PG-13,Adventure,4164.0,136,2011.0,907785604,2011
2,2015-04-22,Avengers: Age of Ultron,191271109.0,PG-13,Action,4276.0,141,2015.0,1489322847,2015
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,247966675.0,PG-13,Adventure,4134.0,136,2015.0,2695278042,2015
4,2018-04-25,Avengers: Infinity War,257698183.0,PG-13,Action,4474.0,156,2018.0,2427175236,2018
...,...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,24834845.0,R,Action,3555.0,98,2013.0,279598396,2013
496,2004-04-09,The Alamo,9124701.0,PG-13,Western,2609.0,137,2004.0,-45682276,2004
497,1995-12-22,Cutthroat Island,2371415.0,PG-13,Adventure,1619.0,118,1995.0,-63465356,1995
498,2013-12-19,The Secret Life of Walter Mitty,12765508.0,PG,Adventure,2922.0,114,2013.0,155098021,2013
499,2023-03-09,65,0.0,0,Thriller/Suspense,0.0,118,2023.0,-91000000,2023

In [59]:
df2 = df2.drop(['year'],axis =1)

In [60]:
df2

,release_date,title,opening_weekend,mpaa,genre,theaters,runtime,Profit,Year
0,2019-04-23,Avengers: Endgame,357115007.0,PG-13,Action,4662.0,181,3256173564,2019
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,90151958.0,PG-13,Adventure,4164.0,136,907785604,2011
2,2015-04-22,Avengers: Age of Ultron,191271109.0,PG-13,Action,4276.0,141,1489322847,2015
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,247966675.0,PG-13,Adventure,4134.0,136,2695278042,2015
4,2018-04-25,Avengers: Infinity War,257698183.0,PG-13,Action,4474.0,156,2427175236,2018
...,...,...,...,...,...,...,...,...,...
495,2013-02-06,A Good Day to Die Hard,24834845.0,R,Action,3555.0,98,279598396,2013
496,2004-04-09,The Alamo,9124701.0,PG-13,Western,2609.0,137,-45682276,2004
497,1995-12-22,Cutthroat Island,2371415.0,PG-13,Adventure,1619.0,118,-63465356,1995
498,2013-12-19,The Secret Life of Walter Mitty,12765508.0,PG,Adventure,2922.0,114,155098021,2013
499,2023-03-09,65,0.0,0,Thriller/Suspense,0.0,118,-91000000,2023

In [61]:
df2 = df2.drop(['release_date'],axis =1)
df2

,title,opening_weekend,mpaa,genre,theaters,runtime,Profit,Year
0,Avengers: Endgame,357115007.0,PG-13,Action,4662.0,181,3256173564,2019
1,Pirates of the Caribbean: On Stranger Tides,90151958.0,PG-13,Adventure,4164.0,136,907785604,2011
2,Avengers: Age of Ultron,191271109.0,PG-13,Action,4276.0,141,1489322847,2015
3,Star Wars Ep. VII: The Force Awakens,247966675.0,PG-13,Adventure,4134.0,136,2695278042,2015
4,Avengers: Infinity War,257698183.0,PG-13,Action,4474.0,156,2427175236,2018
...,...,...,...,...,...,...,...,...
495,A Good Day to Die Hard,24834845.0,R,Action,3555.0,98,279598396,2013
496,The Alamo,9124701.0,PG-13,Western,2609.0,137,-45682276,2004
497,Cutthroat Island,2371415.0,PG-13,Adventure,1619.0,118,-63465356,1995
498,The Secret Life of Walter Mitty,12765508.0,PG,Adventure,2922.0,114,155098021,2013
499,65,0.0,0,Thriller/Suspense,0.0,118,-91000000,2023

In [66]:
df2.loc[(df2['theaters'] == 0),'theaters']= df2['theaters'].mean()

In [67]:
np.unique(df2['theaters'])

array([  30.  , 1619.  , 1920.  , 2023.  , 2132.  , 2218.  , 2222.  ,
       2313.  , 2320.  , 2340.  , 2420.  , 2445.  , 2483.  , 2495.  ,
       2500.  , 2521.  , 2530.  , 2556.  , 2557.  , 2561.  , 2608.  ,
       2609.  , 2625.  , 2638.  , 2649.  , 2665.  , 2690.  , 2721.  ,
       2756.  , 2759.  , 2761.  , 2801.  , 2807.  , 2813.  , 2820.  ,
       2835.  , 2852.  , 2875.  , 2887.  , 2893.  , 2898.  , 2910.  ,
       2922.  , 2930.  , 2938.  , 2942.  , 2946.  , 2966.  , 2971.  ,
       2988.  , 2996.  , 3001.  , 3004.  , 3012.  , 3026.  , 3030.  ,
       3057.  , 3058.  , 3061.  , 3065.  , 3077.  , 3084.  , 3087.  ,
       3089.  , 3101.  , 3103.  , 3104.  , 3111.  , 3117.  , 3119.  ,
       3126.  , 3131.  , 3138.  , 3143.  , 3151.  , 3160.  , 3161.  ,
       3165.  , 3180.  , 3184.  , 3188.  , 3200.  , 3202.  , 3203.  ,
       3219.  , 3221.  , 3222.  , 3223.  , 3227.  , 3239.  , 3242.  ,
       3243.  , 3246.  , 3249.  , 3255.  , 3256.  , 3261.  , 3265.  ,
       3282.  , 3284.  , 3285.  , 3290.  , 3302.  , 3319.  , 3328.  ,
       3336.  , 3342.  , 3349.  , 3355.  , 3372.  , 3377.  , 3380.  ,
       3381.  , 3392.  , 3396.  , 3401.  , 3403.  , 3406.  , 3407.  ,
       3411.  , 3425.  , 3427.  , 3440.  , 3442.  , 3443.  , 3444.  ,
       3445.  , 3446.  , 3451.  , 3454.  , 3455.  , 3461.  , 3467.  ,
       3470.  , 3475.  , 3478.  , 3485.  , 3490.  , 3494.  , 3495.  ,
       3501.  , 3502.  , 3503.  , 3504.  , 3505.  , 3506.06, 3508.  ,
       3515.  , 3525.  , 3526.  , 3527.  , 3528.  , 3530.  , 3531.  ,
       3534.  , 3544.  , 3545.  , 3550.  , 3552.  , 3553.  , 3555.  ,
       3561.  , 3565.  , 3571.  , 3575.  , 3580.  , 3584.  , 3591.  ,
       3595.  , 3597.  , 3601.  , 3602.  , 3603.  , 3606.  , 3607.  ,
       3611.  , 3612.  , 3620.  , 3622.  , 3623.  , 3627.  , 3630.  ,
       3636.  , 3641.  , 3642.  , 3646.  , 3648.  , 3649.  , 3650.  ,
       3651.  , 3654.  , 3658.  , 3663.  , 3669.  , 3672.  , 3674.  ,
       3675.  , 3682.  , 3683.  , 3691.  , 3692.  , 3693.  , 3697.  ,
       3701.  , 3702.  , 3703.  , 3707.  , 3708.  , 3711.  , 3714.  ,
       3715.  , 3721.  , 3722.  , 3734.  , 3735.  , 3739.  , 3740.  ,
       3742.  , 3746.  , 3749.  , 3752.  , 3753.  , 3754.  , 3755.  ,
       3757.  , 3763.  , 3766.  , 3768.  , 3771.  , 3772.  , 3773.  ,
       3775.  , 3777.  , 3778.  , 3783.  , 3790.  , 3792.  , 3793.  ,
       3801.  , 3802.  , 3809.  , 3812.  , 3816.  , 3820.  , 3822.  ,
       3829.  , 3835.  , 3838.  , 3841.  , 3846.  , 3847.  , 3848.  ,
       3854.  , 3855.  , 3858.  , 3867.  , 3868.  , 3875.  , 3876.  ,
       3882.  , 3885.  , 3886.  , 3894.  , 3902.  , 3904.  , 3907.  ,
       3910.  , 3912.  , 3914.  , 3923.  , 3924.  , 3928.  , 3929.  ,
       3933.  , 3938.  , 3940.  , 3948.  , 3949.  , 3951.  , 3952.  ,
       3959.  , 3963.  , 3965.  , 3969.  , 3972.  , 3975.  , 3980.  ,
       3984.  , 3987.  , 3988.  , 3992.  , 3997.  , 4001.  , 4002.  ,
       4004.  , 4007.  , 4014.  , 4017.  , 4019.  , 4022.  , 4028.  ,
       4035.  , 4038.  , 4039.  , 4050.  , 4051.  , 4053.  , 4058.  ,
       4059.  , 4060.  , 4065.  , 4066.  , 4070.  , 4071.  , 4080.  ,
       4084.  , 4086.  , 4088.  , 4090.  , 4091.  , 4100.  , 4101.  ,
       4102.  , 4107.  , 4108.  , 4115.  , 4118.  , 4125.  , 4132.  ,
       4133.  , 4134.  , 4136.  , 4144.  , 4151.  , 4153.  , 4154.  ,
       4155.  , 4157.  , 4158.  , 4163.  , 4164.  , 4165.  , 4166.  ,
       4172.  , 4175.  , 4184.  , 4203.  , 4206.  , 4207.  , 4210.  ,
       4224.  , 4225.  , 4226.  , 4227.  , 4232.  , 4233.  , 4234.  ,
       4245.  , 4248.  , 4250.  , 4253.  , 4255.  , 4256.  , 4259.  ,
       4263.  , 4264.  , 4268.  , 4275.  , 4276.  , 4285.  , 4286.  ,
       4291.  , 4293.  , 4300.  , 4303.  , 4305.  , 4310.  , 4318.  ,
       4324.  , 4329.  , 4336.  , 4344.  , 4347.  , 4348.  , 4349.  ,
       4362.  , 4366.  , 4375.  , 4381.  , 4386.  , 4390.  , 4395.  ,
       4404.  , 4406.  , 4407.  , 4413.  , 4417.  , 4440.  , 4455.  ,
       4474.  , 4476.  , 4485.  , 4534.  , 4575.  , 4634.  , 4662.  ,
       4697.  , 4751.  , 4802.  ])

In [68]:
df2['theaters'] = df2['theaters'].astype(int)

In [69]:
df2

,title,opening_weekend,mpaa,genre,theaters,runtime,Profit,Year
0,Avengers: Endgame,357115007.0,PG-13,Action,4662,181,3256173564,2019
1,Pirates of the Caribbean: On Stranger Tides,90151958.0,PG-13,Adventure,4164,136,907785604,2011
2,Avengers: Age of Ultron,191271109.0,PG-13,Action,4276,141,1489322847,2015
3,Star Wars Ep. VII: The Force Awakens,247966675.0,PG-13,Adventure,4134,136,2695278042,2015
4,Avengers: Infinity War,257698183.0,PG-13,Action,4474,156,2427175236,2018
...,...,...,...,...,...,...,...,...
495,A Good Day to Die Hard,24834845.0,R,Action,3555,98,279598396,2013
496,The Alamo,9124701.0,PG-13,Western,2609,137,-45682276,2004
497,Cutthroat Island,2371415.0,PG-13,Adventure,1619,118,-63465356,1995
498,The Secret Life of Walter Mitty,12765508.0,PG,Adventure,2922,114,155098021,2013
499,65,0.0,0,Thriller/Suspense,3506,118,-91000000,2023

In [70]:
df2.loc[(df2['opening_weekend'] == 0),'opening_weekend']= df2['opening_weekend'].mean()

In [71]:
np.unique(df2['opening_weekend'])

array([4.85580000e+04, 1.16616000e+05, 1.79823000e+05, 2.43390000e+05,
       4.74560000e+05, 5.76216000e+05, 7.86190000e+05, 8.58021000e+05,
       2.18290000e+06, 2.37141500e+06, 3.02985800e+06, 3.77535000e+06,
       4.75915100e+06, 5.91554200e+06, 6.30769100e+06, 6.61987000e+06,
       6.91448800e+06, 7.21764000e+06, 7.48469600e+06, 7.51167500e+06,
       7.55985000e+06, 7.57613200e+06, 8.64832400e+06, 9.12470100e+06,
       9.49687000e+06, 9.61224700e+06, 9.72099300e+06, 9.80025200e+06,
       9.81230200e+06, 9.86899700e+06, 9.91031000e+06, 1.02677560e+07,
       1.02782250e+07, 1.05746180e+07, 1.07490110e+07, 1.08863860e+07,
       1.09507050e+07, 1.10533660e+07, 1.11394950e+07, 1.12038150e+07,
       1.13645050e+07, 1.14088530e+07, 1.20832480e+07, 1.24090700e+07,
       1.26914150e+07, 1.27017430e+07, 1.27655080e+07, 1.27852040e+07,
       1.28466520e+07, 1.32515450e+07, 1.33547980e+07, 1.34015860e+07,
       1.36870870e+07, 1.37073760e+07, 1.38807710e+07, 1.41239030e+07,
       1.43092950e+07, 1.43835150e+07, 1.45204120e+07, 1.47108920e+07,
       1.48007230e+07, 1.48697360e+07, 1.50182230e+07, 1.51151520e+07,
       1.53154350e+07, 1.53712700e+07, 1.58536460e+07, 1.58796450e+07,
       1.61122110e+07, 1.61589420e+07, 1.64724580e+07, 1.67019570e+07,
       1.67284110e+07, 1.70076240e+07, 1.70313450e+07, 1.71005200e+07,
       1.75483890e+07, 1.76196220e+07, 1.76402490e+07, 1.78974190e+07,
       1.80683720e+07, 1.83723720e+07, 1.84100670e+07, 1.84696200e+07,
       1.84794350e+07, 1.85613370e+07, 1.86760330e+07, 1.87753500e+07,
       1.88143230e+07, 1.88373500e+07, 1.90040580e+07, 1.94450350e+07,
       1.96359960e+07, 2.00018520e+07, 2.01399850e+07, 2.02235440e+07,
       2.03524910e+07, 2.05235950e+07, 2.05523720e+07, 2.10374140e+07,
       2.11717800e+07, 2.12370680e+07, 2.13126250e+07, 2.13730640e+07,
       2.14067810e+07, 2.16540470e+07, 2.16814300e+07, 2.18440450e+07,
       2.20587730e+07, 2.21554100e+07, 2.24137100e+07, 2.24515140e+07,
       2.26884570e+07, 2.32399070e+07, 2.33250350e+07, 2.33731020e+07,
       2.35231210e+07, 2.37734650e+07, 2.41159340e+07, 2.41661100e+07,
       2.42713540e+07, 2.42891650e+07, 2.45664460e+07, 2.47916240e+07,
       2.48348450e+07, 2.48522580e+07, 2.49050150e+07, 2.51059900e+07,
       2.51430070e+07, 2.52716750e+07, 2.53360480e+07, 2.54474440e+07,
       2.55348250e+07, 2.55777580e+07, 2.56694550e+07, 2.57238150e+07,
       2.57832320e+07, 2.58697700e+07, 2.62054150e+07, 2.62231280e+07,
       2.65884600e+07, 2.68538160e+07, 2.68587260e+07, 2.70173510e+07,
       2.70184860e+07, 2.72022260e+07, 2.72064940e+07, 2.73196770e+07,
       2.75158710e+07, 2.75200400e+07, 2.76874840e+07, 2.81165350e+07,
       2.85256130e+07, 2.85913700e+07, 2.86381310e+07, 2.87602460e+07,
       2.88711400e+07, 2.90273480e+07, 2.90338320e+07, 2.92108490e+07,
       2.96852740e+07, 2.98002630e+07, 2.98073930e+07, 3.00358380e+07,
       3.00510750e+07, 3.00617560e+07, 3.00952590e+07, 3.01228880e+07,
       3.01801880e+07, 3.03046480e+07, 3.04337810e+07, 3.08336650e+07,
       3.10018700e+07, 3.10533620e+07, 3.11926150e+07, 3.12360670e+07,
       3.14749580e+07, 3.14792350e+07, 3.16683750e+07, 3.17069340e+07,
       3.17655060e+07, 3.22000000e+07, 3.22070570e+07, 3.26954070e+07,
       3.27531220e+07, 3.28283480e+07, 3.30281650e+07, 3.31236090e+07,
       3.33695590e+07, 3.34571880e+07, 3.35268760e+07, 3.35310680e+07,
       3.40481240e+07, 3.40774390e+07, 3.41153350e+07, 3.42219680e+07,
       3.48190170e+07, 3.50187310e+07, 3.51425540e+07, 3.53163820e+07,
       3.55190070e+07, 3.55431620e+07, 3.56116370e+07, 3.56771250e+07,
       3.57530930e+07, 3.58674880e+07, 3.60112430e+07, 3.60633850e+07,
       3.60899720e+07, 3.61606210e+07, 3.62063310e+07, 3.64312900e+07,
       3.69487130e+07, 3.70544850e+07, 3.72853250e+07, 3.76342210e+07,
       3.80210440e+07, 3.80793230e+07, 3.81428250e+07, 3.83291600e+07,
       3.85278560e+07, 3.88548510e+07, 3.90230100e+07, 3.91198610e+07,
       3.91533800e+07, 3.91552170e+07, 3.93278690e+07, 3.96370790e+07,
       4.00497780e+07, 4.03002880e+07, 4.03250190e+07, 4.04577700e+07,
       4.05018140e+07, 4.08331560e+07, 4.10111740e+07, 4.10399440e+07,
       4.12820420e+07, 4.13250420e+07, 4.16711980e+07, 4.17690500e+07,
       4.21512560e+07, 4.25583900e+07, 4.28726050e+07, 4.35651350e+07,
       4.36397360e+07, 4.37204720e+07, 4.37323190e+07, 4.40101550e+07,
       4.40262110e+07, 4.40414400e+07, 4.42130730e+07, 4.46800730e+07,
       4.50384600e+07, 4.53888360e+07, 4.54021950e+07, 4.54281280e+07,
       4.59907480e+07, 4.60168330e+07, 4.60187550e+07, 4.62041680e+07,
       4.65225600e+07, 4.65811420e+07, 4.66292590e+07, 4.68654120e+07,
       4.70273950e+07, 4.70720400e+07, 4.72114900e+07, 4.75103600e+07,
       4.76563020e+07, 4.77357430e+07, 4.77432730e+07, 4.77762930e+07,
       4.84751540e+07, 4.87454400e+07, 4.87670520e+07, 4.90387120e+07,
       4.91001580e+07, 4.94513220e+07, 5.00851840e+07, 5.01301450e+07,
       5.01989020e+07, 5.03428780e+07, 5.05134880e+07, 5.05779610e+07,
       5.07716450e+07, 5.08026050e+07, 5.10501010e+07, 5.17480400e+07,
       5.20117907e+07, 5.21077310e+07, 5.21487510e+07, 5.21798870e+07,
       5.22636800e+07, 5.25350960e+07, 5.27844330e+07, 5.31137520e+07,
       5.31743030e+07, 5.36886800e+07, 5.41732860e+07, 5.43085750e+07,
       5.43652420e+07, 5.45881730e+07, 5.45927790e+07, 5.47130460e+07,
       5.47243340e+07, 5.48061910e+07, 5.50222450e+07, 5.50348050e+07,
       5.51016040e+07, 5.52143340e+07, 5.52250070e+07, 5.54140500e+07,
       5.55200890e+07, 5.57851120e+07, 5.58203300e+07, 5.61784500e+07,
       5.62158890e+07, 5.62177000e+07, 5.62376340e+07, 5.62629290e+07,
       5.66314010e+07, 5.72255260e+07, 5.78452970e+07, 5.80516840e+07,
       5.90789120e+07, 5.92153650e+07, 5.92515430e+07, 5.92532110e+07,
       5.93210950e+07, 6.00389500e+07, 6.02391300e+07, 6.03167380e+07,
       6.10254720e+07, 6.12351050e+07, 6.12365340e+07, 6.20046880e+07,
       6.20075280e+07, 6.21284200e+07, 6.21631040e+07, 6.25770670e+07,
       6.26038790e+07, 6.27853370e+07, 6.29832530e+07, 6.30875260e+07,
       6.31065890e+07, 6.48109700e+07, 6.48787250e+07, 6.50585240e+07,
       6.52376140e+07, 6.55751050e+07, 6.57233380e+07, 6.57695620e+07,
       6.61355070e+07, 6.63235940e+07, 6.64118340e+07, 6.75288820e+07,
       6.78735220e+07, 6.78773610e+07, 6.81087900e+07, 6.81390350e+07,
       6.85329600e+07, 6.87435840e+07, 6.92836900e+07, 6.94312980e+07,
       7.00431650e+07, 7.01655590e+07, 7.02517100e+07, 7.04031480e+07,
       7.04676230e+07, 7.05023840e+07, 7.08382070e+07, 7.12972190e+07,
       7.26114270e+07, 7.26297130e+07, 7.36451970e+07, 7.44033870e+07,
       7.50634010e+07, 7.53886880e+07, 7.58122050e+07, 7.70254810e+07,
       7.70733880e+07, 7.71084140e+07, 7.72113210e+07, 7.78357270e+07,
       7.91104530e+07, 7.92042890e+07, 8.00278140e+07, 8.02557560e+07,
       8.03663120e+07, 8.24294690e+07, 8.44204890e+07, 8.46173030e+07,
       8.50580030e+07, 8.50583110e+07, 8.55587310e+07, 8.57378410e+07,
       8.61987650e+07, 8.81562270e+07, 8.83574880e+07, 8.83647140e+07,
       8.84119160e+07, 9.00332100e+07, 9.01519580e+07, 9.02946210e+07,
       9.04402720e+07, 9.08236600e+07, 9.15009290e+07, 9.16083370e+07,
       9.17744130e+07, 9.25792120e+07, 9.31883840e+07, 9.36873670e+07,
       9.38422390e+07, 9.43208830e+07, 9.50237210e+07, 9.73752450e+07,
       9.78528650e+07, 9.87867050e+07, 1.00038390e+08, 1.00137835e+08,
       1.02118668e+08, 1.02665981e+08, 1.02685961e+08, 1.02750665e+08,
       1.03251471e+08, 1.03261464e+08, 1.08435841e+08, 1.08966307e+08,
       1.10307189e+08, 1.14732820e+08, 1.14844116e+08, 1.16101023e+08,
       1.16619362e+08, 1.17027503e+08, 1.20908065e+08, 1.21629270e+08,
       1.21897634e+08, 1.22744989e+08, 1.25017372e+08, 1.25507153e+08,
       1.26707459e+08, 1.28122480e+08, 1.30263358e+08, 1.33682248e+08,
       1.34008624e+08, 1.35060273e+08, 1.35634554e+08, 1.38122261e+08,
       1.41067634e+08, 1.44165107e+08, 1.45075625e+08, 1.46510104e+08,
       1.47187040e+08, 1.48024610e+08, 1.51116516e+08, 1.53433423e+08,
       1.55081681e+08, 1.58074286e+08, 1.58411483e+08, 1.60887295e+08,
       1.66007347e+08, 1.69189427e+08, 1.74144585e+08, 1.74750616e+08,
       1.77383864e+08, 1.79139142e+08, 1.82687905e+08, 1.87420998e+08,
       1.91271109e+08, 1.91770759e+08, 2.02003951e+08, 2.07438708e+08,
       2.08806270e+08, 2.20009584e+08, 2.47966675e+08, 2.57698183e+08,
       2.60138569e+08, 3.57115007e+08])

In [72]:
df2.to_csv('movies_tableau.csv')